.card-deck .card {
  margin-left: 1em;
  margin-right: 1em;

  max-width: 18rem;

  min-width: 10rem;
  min-height: 10rem;
}

.card-deck .card:not(:last-child) {
  margin-right: 1em;
}

.card-deck .card:not(:first-child) {
  margin-left: 1em;
}


