<div class="container h-100 w-100">
  <div class="row h-100 justify-content-center align-items-top">
    <div class="col-md-9 col-md-offset-3">
      <div class="row h-25">
      </div>
      <div class="row pb-5">
        <div class="col">
          <h2 class="float-left text-info">
            <button (click)="onBackToHomeClicked(); $event.stopPropagation();" class="btn btn-outline-light text-info mr-3 px-3 py-1">
              <i class="fa fa-caret-left fa-2x" aria-hidden="true"></i>
            </button>
            Milestone issues ({{itemsTotal}})
          </h2>
          <button class="btn btn-info float-right" type="button" (click)="openNewIssueForm()">
            <i class="fa fa-plus" aria-hidden="true"></i> New issue
          </button>
        </div>
      </div>

      <div *ngIf="!issuesData.items || issuesData.items.length < 1" class="alert alert-warning" role="alert">
        You have not created any issue yet!
      </div>

      <div *ngIf="!!issuesData.items && issuesData.items.length > 0" class="card-deck">
        <ng-container *ngFor="let issue of issuesData.items; let i = index" [attr.data-index]="i">
          <app-issue-card class="card" [issue]="issue" (deleteIssue)="onIssueRemove(issue.id)"></app-issue-card>
          <div *ngIf="i > 0 && (i % 3) === 2" class="w-100 hidden-md-down hidden-xl-up my-3"><!-- wrap every 3 on lg--></div>
        </ng-container>
      </div>
      <div *ngIf="page < pagesTotal - 1" class="row justify-content-center mt-5">
        <div class="col-3">
          <button class="btn btn-info" type="button" (click)="onNextPageClicked()">Next {{pageSize}} issues</button>
        </div>
      </div>
      <div class="row h-20">
      </div>
    </div>
  </div>
</div>
