<!--header-->
<nav *ngIf="authService.isAuthenticated" class="navbar fixed-top navbar-light bg-light">
  <div class="container">
    <div class="row w-100 justify-content-center">
      <div class="col-md-9 col-md-offset-3">
        <div class="form-inline py-1">
          <button class="btn btn-sm btn-info mr-3" (click)="onLogout()">logout <i class="fa fa-sign-out" aria-hidden="true"></i></button>
          <div class="dropdown">
            <button class="btn btn-sm btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Page size ({{pageSize}})
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a *ngFor="let item of sizeItems" class="dropdown-item" (click)="onSelectPageSize(item)">{{item}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- main app container -->
<div class="h-100">
  <router-outlet></router-outlet>
</div>

<!--footer-->
<nav class="navbar fixed-bottom navbar-light bg-light">
  <div class="container">
    <div class="row w-100 justify-content-center">
      <div class="col-md-9 col-md-offset-3">
        <div>
          <a class="navbar-brand" href="https://gitlab.com/nogoltsov/wa1_semestral">Source code: <i class="fa fa-gitlab ml-2" aria-hidden="true"></i></a>
        </div>
        <div class="text-muted">
          WA1 semestral project by Ogoltnik.
        </div>
      </div>
    </div>
  </div>
</nav>

