<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLongTitle">New milestone</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" formControlName="name" [class.is-invalid]="name.invalid && (name.dirty || name.touched)">
      <div *ngIf="name?.errors?.required" class="invalid-feedback">Milestone name is required</div>
      <div *ngIf="name?.errors?.minlength" class="invalid-feedback">Milestone name should be at least 5 characters long</div>
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea class="form-control" id="description" formControlName="description"></textarea>
    </div>
    <div class="form-row">
      <div class="col form-group">
        <div class="input-group">
          <input class="form-control" placeholder="starts at" ngbDatepicker #startsat="ngbDatepicker" formControlName="startsAt" [class.is-invalid]="startsAt.invalid && (startsAt.dirty || startsAt.touched)">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="startsat.toggle()" type="button">
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </button>
          </div>
          <div *ngIf="startsAt?.errors?.dateValid" class="invalid-feedback">Date is invalid</div>
        </div>
      </div>
      <div class="col form-group">
        <div class="input-group">
          <input class="form-control" placeholder="ends at" ngbDatepicker #endsat="ngbDatepicker" formControlName="endsAt" [class.is-invalid]="endsAt.invalid && (endsAt.dirty || endsAt.touched)">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="endsat.toggle()" type="button">
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <div *ngIf="endsAt?.errors?.dateValid" class="invalid-feedback">Date is invalid</div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.close(false)">Close</button>
  <button type="button" class="btn btn-info" (click)="onSubmit()" [disabled]="form.invalid || form.pristine">Save changes</button>
</div>
