<div class="container h-100 w-100">
  <div class="row h-100 justify-content-center align-items-top">

    <div class="col-md-9 col-md-offset-3">
      <div class="row h-25">
      </div>
      <div class="row">
        <div class="col">
          <h2 class="float-left text-info">
            My milestones ({{milestonesData?.pagination?.itemsTotal}})
          </h2>
          <button class="btn btn-info float-right" type="button" (click)="openNewMilestoneForm()">
            <i class="fa fa-plus" aria-hidden="true"></i>
            New milestone
          </button>
        </div>
      </div>

      <table class="table table-hover mt-5">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">name</th>
          <th scope="col">starts at</th>
          <th scope="col">ends at</th>
          <th scope="col">status</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>

        <ng-container *ngFor="let milestone of pageItems; let i = index" [attr.data-index]="i">
          <tr (click)="onMilestoneOpen(milestone)">
            <th scope="row">{{page * milestonesData?.pagination?.pageSize + i + 1}}</th>
            <td>{{milestone?.name}}</td>
            <td>{{milestone?.startsAt | momentFormat:'ddd D MMM YYYY'}}</td>
            <td>{{milestone?.endsAt | momentFormat:'ddd D MMM YYYY'}}</td>
            <td><i class="fa fa-battery-half" aria-hidden="true"></i></td>
            <td class="text-right">
              <button class="btn btn-light" (click)="onMilestoneRemove(milestone?.id); $event.stopPropagation();">
                <i class="fa fa-times text-danger" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </ng-container>

        <tr *ngIf="!pageItems || pageItems.length < 1" class="text-center">
          <td colspan="6" class="py-5 text-muted">You have not created any milestone yet</td>
        </tr>

      </table>

      <nav class="float-left mt-5" *ngIf="pagesTotal > 1">
        <ul class="pagination">
          <li class="page-item" [class.disabled]="page === 0">
            <a class="page-link" aria-label="Previous" (click)="onPreviousPageSelected()">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item"
              *ngFor="let i of [] | range : pagesTotal"
              [ngClass]="page === i ? 'active' : ''">
            <a class="page-link" (click)="onPageSelected(i)">{{i + 1}}</a>
          </li>
          <li class="page-item" [class.disabled]="page === pagesTotal - 1">
            <a class="page-link" aria-label="Next" (click)="onNextPageSelected()">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>

      <div class="row h-25">
      </div>
    </div>
  </div>
</div>
