<div class="card-body">
  <h4 class="card-title">
    {{issue?.title}}
    <a class="btn btn-outline-light float-right" (click)="deleteIssue.emit(); $event.stopPropagation();">
      <i class="fa fa-trash text-info" aria-hidden="true"></i>
    </a>
  </h4>
  <p class="card-text">{{issue?.description}}</p>
</div>
<div class="card-footer">
  <small class="text-muted float-left">Was created:</small>
  <small class="text-muted float-right">{{issue?.creationDate | momentFormat:'ddd D MMM YYYY'}}</small>
</div>
